.Content {
    width: 99%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "cases-title daily-cases""content daily-cases";
    gap: 12px;
}

.Content .stats {
    grid-area: content;
}

.Content .content-title {
    grid-area: cases-title;
}

.stats {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f3f3f3;
    border-radius: 20px;
    text-align: center;
}

.Content .box {
    margin: auto;
    height: fit-content;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 50px 1.5em;
    margin: 30px;
}

.mini-card {
    color: black;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 30px;
}

.cases {
    background-color: #FDFD96;
}

.newCases {
    background-color: #77DD77;
}

.recoveries {
    background-color: #F8C8DC;
}

.deaths {
    background-color: #B1907F;
}

.activeCases {
    background-color: #AEC6CF;
}

.tested {
    background-color: #CB99C9;
}

.Content .daily-cases {
    height: 90vh;
    background: linear-gradient(45deg, #04224e, #0C59CF);
    border-radius: 20px;
}

.Content .daily-cases a img {
    margin: 5%;
    width: 90%;
    max-height: 50%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Content .daily-cases h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    height: 100px;
    line-height: 100px;
    background-color: #F3F3F3;
}