.Content {
    width: 99%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "cases-title daily-cases""content daily-cases";
    gap: 12px;
}

.Content .stats {
    grid-area: content;
}

.Content .content-title {
    grid-area: cases-title;
}

.stats {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f3f3f3;
    border-radius: 20px;
    text-align: center;
}

.Content .box {
    margin: auto;
    height: fit-content;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 50px 1.5em;
    margin: 30px;
}

.mini-card {
    color: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 30px;
}

.cases {
    background-color: #1f3571;
}

.tested {
    background-color: #1c7de4;
}

.recoveries {
    background-color: #28a745;
}

.deaths {
    background-color: #dc3545;
}

.newCases {
    background-color: #ffcc01;
}

.activeCases {
    background-color: #fe5105;
}

.Content .daily-cases {
    height: 90vh;
    background: linear-gradient(45deg, #04224e, #0C59CF);
    border-radius: 20px;
}

.right-data {
    margin: 5%;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    max-height: 75%;
    overflow-y: auto;
}

.right-data::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff00;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.right-data::-webkit-scrollbar {
    width: 0.4em;
    background-color: #ffffff00;
}

.right-data::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.right-data img {
    width: 100%;
}

input[type='file'] {
    float: right;
}

input[type='number'] {
    background-color: rgba(219, 219, 219, 0.25);
    color: white;
    border: #555 1px solid;
    text-align: center;
}

.Content .daily-cases h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    height: 100px;
    line-height: 100px;
    background-color: #F3F3F3;
}