@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Quicksand:wght@400;500&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Asap', sans-serif;
    background-image: radial-gradient(#b5b5b5 10%, transparent 0%);
    background-color: #e0e0e0;
    background-position: 0 0, 50px 50px;
    background-size: 20px 20px;
}

.center {
    text-align: center;
}

.start {
    text-align: left;
}

.imgCircle {
    border-radius: 50%;
}

.end {
    text-align: right;
}

.container {
    background: white;
    width: 50vw;
    height: auto;
    margin: 20vh auto;
    padding: 3% 1%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: stretch;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    background: #0C112D;
    padding: 0.5% 2%;
    align-items: center;
}

header img {
    width: 15vw;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(91deg) brightness(104%) contrast(104%);
}

.content {
    background: white;
    width: 60vw;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.hide {
    display: none;
}